<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>
	<div class="container">
		<header>
			<h1>통나무 펜션</h1>
		</header>
		<nav>
			<ul class="nav nav-fill font-weight-bold">
				<li class="nav-item"><a href="#" class="nav-link">펜션소개</a></li>
				<li class="nav-item"><a href="#" class="nav-link">객실소개</a></li>
				<li class="nav-item"><a href="#" class="nav-link">예약안내</a></li>
				<li class="nav-item"><a href="#" class="nav-link">커뮤니티</a></li>
			</ul>
		
		</nav>
		<section>
			<div>
				<h2>예약목록 보기</h2>
			</div>
			<div>
				<div>
					<span>이름</span>
					<input type="text" id="name" class="form-control col-4">
				</div>
				<div>
					<span>예약날짜</span>
					<input type="text" id="datepicker" class="form-control col-4">
				</div>
				
				<div class=" align-items-center">
					<div class="input-label">숙박일수</div>
					<select class="form-control col-4" id="day">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
					</select>
				</div>
				<div>
					<div class="input-label">숙박인원</div>
					<select class="form-control col-4" id="people">
							<option>1</option>
							<option>2</option>
							<option>3</option>
							<option>4</option>
							<option>5</option>
					</select>
				</div>
				<div>
					<span>전화번호</span>
					<input type="text" id="phoneNumber" class="form-control col-4">
				</div>
			</div>
			<div>
				<button class="btn btn-warning" id="btn-submit" >예약하기</button>
			</div>
		
		</section>
	</div>
	<script>
	 $(function() {
		 
	     
	       $("#datepicker").datepicker({
	           dateFormat: 'yy-mm-dd' //달력 날짜 형태
	           ,showOtherMonths: true //빈 공간에 현재월의 앞뒤월의 날짜를 표시
	           ,showMonthAfterYear:true // 월- 년 순서가아닌 년도 - 월 순서
	           
	           ,changeMonth: true //option값  월 선택 가능                          
	           ,yearSuffix: "년" //달력의 년도 부분 뒤 텍스트
	           ,monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 텍스트
	           ,monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'] //달력의 월 부분 Tooltip
	           ,dayNamesMin: ['일','월','화','수','목','금','토'] //달력의 요일 텍스트
	           ,dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'] //달력의 요일 Tooltip
	           ,minDate: "0" //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
	           ,maxDate: "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
	       });                    
	       
	       //초기값을 오늘 날짜로 설정해줘야 합니다.
	       $('#datepicker').datepicker('setDate', 'today'); //(-1D:하루전, -1M:한달전, -1Y:일년전), (+1D:하루후, -1M:한달후, -1Y:일년후)
	       
	       $('#btn-submit').on("click", function(){
	    	   let name = $('#name').val();
	    	   let date = $('#datepicker').val();
	    	   let day = $('#day').val();
	    	   let people = $('#people').val();
	    	   let phoneNumber = $('#phoneNumber').val();
	    	   
	    	   
	    	   
	    		$.ajax({
					// request
					type:"post"
					, url:"/booking/insert-book"
					, data:{"name":name, "date":date,"day":day,"people":people,"phoneNumber":phoneNumber}
					
					// response
					, success:function(data) {
						if (data.result == "성공") {
							
						} else {
							// {"code":500, "error_message":"에러원인"}
							alert(data.error_message);
						}
					}
					, error:function(error) {
						alert("예약이 실패했습니다.");
					}
				});
	       })
	   });
	</script>
</body>
</html>